</main>
<footer id="footer">
	<div id="footer-song-img">
		<img id="current-artwork" src="">
		<div id="current-song">
			<p id="current-song-title"></p>
			<p id="current-song-artist-name"></p>
		</div>
	</div>
	<div id="song-controls">
		<img src="/images/light-mode-images/play-button-white.png" id="footer-play-button">
		<div id="time-bar-div">
			<span id="current-time">0:00</span>
			<div id="progress-bar"></div>
			<span id="total-time">0:00</span>
		</div>
	</div>
	<div id="vol">
		<img src="/images/light-mode-images/volume-icon-white.png" id="footer-volume-icon">
		<input type="range" min="0" max="100" value="50" id="volume-slider">
	</div>
</footer>
</div>
</body>

</html>